PORT=5000
DB_URL=mongodb+srv://DB_USERNAME:DB_PASS@cluster0.g3mp55c.mongodb.net/example-db?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development 

# BCRYPT
BCRYPT_SALT_ROUND=setRound

#jwt
JWT_ACCESS_SECRET=setSecret
JWT_ACCESS_EXPIRES=setExpireTime
JWT_REFRESH_SECRET=setRefreshSecret
JWT_REFRESH_EXPIRES=setExpireTime

# SUPER ADMIN
SUPER_ADMIN_EMAIL=setSuperAdminEmail
SUPER_ADMIN_PASSWORD=setSuperAdminPassword