PORT=5000
DB_URL=mongodb+srv://DB_USERNAME:DB_PASS@cluster0.g3mp55c.mongodb.net/example-db?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development 

# BCRYPT
BCRYPT_SALT_ROUND=setRound

#jwt
JWT_ACCESS_SECRET=setSecret
JWT_ACCESS_EXPIRES=setExpireTime
JWT_REFRESH_SECRET=setRefreshSecret
JWT_REFRESH_EXPIRES=setExpireTime

# SUPER ADMIN
SUPER_ADMIN_EMAIL=setSuperAdminEmail
SUPER_ADMIN_PASSWORD=setSuperAdminPassword

#Google(passport)
GOOGLE_CLIENT_ID=setYourClientId
GOOGLE_CLIENT_SECRET=setYourClientSecret
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback

# Express Session
EXPRESS_SESSION_SECRET=express-session

#Frontend URL
FRONTEND_URL=http://localhost:5173

#SSL
SSL_STORE_ID="setYourStoreId"
SSL_STORE_PASS="setYourStorePass"
SSL_PAYMENT_API="setYourPaymentApi"
SSL_VALIDATION_API="setYourValidationApi"
SSL_IPN_URL="http://localhost:5000/api/v1/payment/validate-payment"

# SSL Commerz BACKEND URLs
SSL_SUCCESS_BACKEND_URL="http://localhost:5000/api/v1/payment/success"
SSL_FAIL_BACKEND_URL="http://localhost:5000/api/v1/payment/fail"
SSL_CANCEL_BACKEND_URL="http://localhost:5000/api/v1/payment/cancel"

# SSL Commerz FRONTEND URLs
SSL_SUCCESS_FRONTEND_URL="http://localhost:5173/payment/success"
SSL_FAIL_FRONTEND_URL="http://localhost:5173/payment/fail"
SSL_CANCEL_FRONTEND_URL="http://localhost:5173/payment/cancel"

#CLOUDINARY
CLOUDINARY_CLOUD_NAME=setYourCloudName
CLOUDINARY_API_KEY=setYourCloudApiKey
CLOUDINARY_API_SECRET=setYourCloudApiSecret

#Nodemailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=setUserGmail
SMTP_PASS=setYourPassKey
SMTP_FROM=setFromGmail

#Redis
REDIS_HOST=setHost
REDIS_PORT=setPort
REDIS_USERNAME=default
REDIS_PASSWORD=setPassword